* {
    margin: 0;
    padding: 0;
}
#wordDisplay {
        font-size: 2em;
        margin: 20px;
    }
body {
    text-align: center;
}

.head {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    display: none;
}
.body, .leftarm, .rightarm, .leftleg, .rightleg {
    width: 5px;
    background: #000;
    display: none;
}
.body { height: 50px; margin-left: 15px; }
.leftarm, .rightarm {
    position: absolute;
    top: 20px;
    width: 3px;
    height: 50px;
}
.leftarm { left: -5px; transform: rotate(120deg); }
.rightarm { right: -5px; transform: rotate(60deg); }
.leftleg, .rightleg {
    position: absolute;
    top: 78px;
    width: 3px;
    height: 50px;
}
.leftleg { transform: rotate(35deg); }
.rightleg { right: 1px; transform: rotate(150deg); }

.human { position: absolute; top: 45px; margin-left: 270px; }
.hanger { position: relative; left: 50%; transform: translate(-50%);   width: 300px; }
.rope { width: 5px; height: 40px; background: #000; position: absolute; top: 5px; margin-left: 285px; }
.holder { width: 200px; height: 5px; background: #000; margin-left: 90px; }
.stand { width: 5px; height: 250px; background: #000; margin-left: 90px; }
.ground { width: 200px; height: 5px; background: black; }

.text {
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 30px;
}
button {
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 10px;
    background-color: rgb(209, 209, 219);
    border: 1px solid black;
    border-radius: 10px;
    transition: background-color 0.4s ease-in;
    &:hover {
        background-color: rgb(255, 255, 255);
    }

}